<div class="container-fluid mt-4">

  <div class="row justify-content-center" *ngIf="didFail">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
      <div class="alert alert-danger">
        <h3>Oops, something went wrong</h3>
        <p>
          Please double check your username and password and try again.
        </p>
        <p>If you forgot it, you can <a href="#">reset your password</a>.</p>
      </div>
    </div>
  </div>

  <div class="loader" *ngIf="isLoading"></div>
  <div class="row justify-content-center" *ngIf="!isLoading">
    <div class="col-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
      <form class="text-center jumbotron py-3" (ngSubmit)="onSubmit()"
        #signinForm="ngForm">
        <div class="form-group">
          <label for="username" class="control-label">Username</label>
          <input type="text" id="username" name="username" ngModel class="form-control text-center"
            required>
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input type="password" id="password" name="password" ngModel class="form-control text-center"
            required>
        </div>
        <button class="btn btn-outline-info" type="submit" [disabled]="signinForm.invalid">Submit</button>
      </form>

    </div>
  </div>
</div>