<div class="container-fluid">

  <div class="row">
    <div class="col-2">
      <ul class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action"><strong>General use</strong></a>
        <a href="#" class="list-group-item list-group-item-action">Getting started</a>
        <a href="#" class="list-group-item list-group-item-action">Your first file</a>
        <a href="#" class="list-group-item list-group-item-action"><strong>Edit files</strong></a>
        <a href="#" class="list-group-item list-group-item-action">Saving files</a>
        <a href="#" class="list-group-item list-group-item-action">Create a file</a>
        <a href="#" class="list-group-item list-group-item-action">Delete a file</a>
      </ul>
    </div>
    <div class="col-10">

      <div>
        <h2>General use</h2>
        <hr>

        <h4>Getting started</h4>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <hr>

        <h4>Your first file </h4>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <hr>

        <h4>Saving files</h4>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <hr>

        <h2>Edit files</h2>
        <hr>

        <h4>Savings Files</h4>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <hr>

        <h4>Create a file </h4>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <hr>

        <h4>Delete a file</h4>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <p>Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard typing
          text Lorem ipsum is standard typing text Lorem ipsum is standard typing text Lorem ipsum is standard
          typing text </p>
        <hr>

      </div>
    </div>
  </div>
</div>