<div class="container-fluid mt-3 border-top">

  <div class="row">
    <div class="col-xs-12 col-md-2 bg-light py-3">
      <ul class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action"><strong>General
            use</strong></a>
        <a class="list-group-item list-group-item-action">Getting
          started</a>
        <a class="list-group-item list-group-item-action">Your first
          file</a>
        <a class="list-group-item list-group-item-action"><strong>
            Files</strong></a>
        <a class="list-group-item list-group-item-action">Saving files</a>
      </ul>

    </div>
    <div class="col-xs-12 col-md-10">

      <div class="pt-3">

        <h2>General use</h2>
        <hr>

        <h4>Getting started</h4>
        <p>Getting started with HackerPile is a quick, straightforward process.
        </p>
        <p>Simply click the "Sign up" button in the toolbar and enter your info
          - you'll receive a confirmation email shortly after. Once you click
          the link in the email, you're ready to go!</p>
        <p>Once you sign into your new account, you can navigate to the "files"
          page to make your first file. </p>
        <hr>

        <h4>Your first file </h4>
        <p>On HackerPile, the code you upload is referred to as a "file." You
          can create your first file by navigating to the "files" page using
          the link in the navigation bar. </p>
        <p>On the "files" page, you'll notice the directory on the left side of
          the page - this is your pile. You can access your files in your pile,
          and this is where you'll create a new file or delete a file when you
          decide you don't want it anymore. </p>
        <p>To create your first file, click the "Create a file" link in your
          pile, and specify the file name and any notes you'd like to attach to
          the file.</p>

        <hr>
        <h2>Files</h2>
        <hr>

        <h4>Saving files</h4>
        <p>When you edit files, there are a few ways to save them. The easiest
          is to wait 30 seconds! The file you're editing will be automatically
          saved to the cloud. </p>
        <p>If the thought of letting the cloud do all the work is
          (understandably) unsettling, you can always just press the save
          button in the top right corner of the page.</p>
        <p>A
          <strong class="text-success"> green </strong>
          save button indicates
          that your file is saved to the cloud, but a <strong class="text-info">teal</strong>
          button means that your changes haven't been saved.
        </p>

      </div>
    </div>
  </div>
</div>