<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Files</strong></li>
  <a href="#" class="list-group-item list-group-item-action">main.py</a>
  <a href="#" class="list-group-item list-group-item-action">test.py</a>
  <a href="#" class="list-group-item list-group-item-action">main.py</a>
  <a href="#" class="list-group-item list-group-item-action">test.py</a>
  <a href="#" class="list-group-item list-group-item-action">main.py</a>
  <a href="#" class="list-group-item list-group-item-action">test.py</a>
  <li class="list-group-item"><strong>Actions</strong></li>
  <a href="#" class="list-group-item list-group-item-action">New file</a>
  <a href="#" class="list-group-item list-group-item-action">Delete current file</a>
</ul>

