<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h2 class="display-4 font-weight-normal">Hear our story</h2>
    <p class="lead font-weight-normal">Hacker Pile was founded by a college
      student looking for an easier way to push
      code between computers.
    </p>
  </div>
</div>

<div class="container-fluid">
  <h2>Why we do what we do</h2>
  <h4>Our mission is to provide a quick, easy way for developers to move code
    between machines. </h4>
  <hr>
  <p>Hacker Pile was built to make things easier for developers who are just
    starting out. Learning the ins and outs of
    version control is both difficult and time consuming for beginners, and we
    think that there should be an easier
    alternative.</p>
  <p>We care about using the right tool for the job. Version control is
    necessary for bigger projects, however for many
    beginner projects creating a remote repository is at the very least
    overkill. </p>

  <hr>
  <h2>Developers</h2>
  <hr>
  <h4>Alex Pereira</h4>
  <p>As the founder of Hacker Pile, Alex had a vision of making learning to
    code much easier for those who are
    constantly on the go. He commuted to college, which meant constantly back
    and forth between his laptop and desktop
    at home.</p>
  <p>As of version 1.0.0 (current release), Alex was the only developer who
    contributed to the project. </p>

  <hr>

  <h4>Join the team</h4>
  <p>We're always willing to work with developers who are eager to contribute.
    Contact us using our <a class="text-info" style="cursor: pointer;"
      routerLink="/contact"><strong>contact
        information</strong> </a></p>

</div>