<div>
  <h2>File Name </h2>
  <button style="float: right"
    class="btn btn-large btn-info"
    (click)="saveFile()">Save</button>
  <hr>
  <div class="border">
    <ngx-codemirror [options]="codeboxOptions"
      (ngModelChange)="handleCodeChange($event)"
      [ngModel]="codeboxValue"
      [autoFocus]="true"
      (ngModelChange)="handleCodeChange($event)"></ngx-codemirror>
  </div>
  <hr>
  <h4>Notes about this file</h4>

  <textarea class="form-control"
    [ngModel]="notesValue"
    (ngModelChange)="handleNotesChange($event)"
    aria-label="Notes"></textarea>
</div>