<div class="pt-3"
  *ngIf="selectedFile.FileId === null">
  <div class="container-fluid">
    <h1 class="d-lg-none"><i class="fa fa-arrow-circle-o-up fa-2x"></i></h1>
    <h2>Welcome to your pile.</h2>
    <h3>To get started, select one of your files </h3>
    <h1 class="d-none d-lg-inline"><i class="fa fa-arrow-circle-o-left fa-2x"></i></h1>
  </div>
</div>

<div class="pt-3"
  *ngIf="selectedFile.FileId !== null">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="d-block float-left align-top">{{selectedFile.FileName}} </h2>
        <span class="d-block float-right">
          <div *ngIf="isLoadingUpdate"
            class="loader-mini"></div>
          <button *ngIf="!isLoadingUpdate"
            class="btn btn-large btn-block"
            [ngClass]="{'btn-info': isChanged === true, 'btn-success': isChanged === false}"
            (click)="saveFile()">Save</button>
        </span>
      </div>
    </div>
    <hr>
  </div>


  <div class="container-fluid">
    <div *ngIf="updateFailure"
      class="alert alert-danger">
      <h4>Something went wrong!</h4>
      <p>We're really sorry, but something went wrong on our end. Try saving
        the file again. We've been
        alerted of this and will fix the issue shortly, but until then you'll
        have to save save your code elsewhere.</p>
    </div>

    <div class="code-box border">
      <ngx-codemirror [options]="codeboxOptions"
        [ngModel]="codeboxValue"
        [autoFocus]="true"
        (ngModelChange)="handleCodeChange($event)"></ngx-codemirror>
    </div>

    <hr>
    <h4>Notes about this file</h4>

    <textarea class="form-control sharp"
      [ngModel]="notesValue"
      (ngModelChange)="handleNotesChange($event)"
      aria-label="Notes"></textarea>
  </div>
</div>