<div class="container-fluid mt-3 mb-3 border-top">

  <div class="row">
    <div class="col-2">
      <ul class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action"><strong>Contact us</strong></a>
        <a class="list-group-item list-group-item-action">About our company</a>
        <a class="list-group-item list-group-item-action">About your account</a>
      </ul>
    </div>
    <div class="col-10">

      <div>
        <h2>Contact us</h2>
        <hr>
        <h4>About our company</h4>
        <p>Something caught your interest?</p>
        <p>If you'd like to discuss anything about HackerPile or you'd like to
          get involved with the project, you can contact our team members
          through Email or LinkedIn: </p>
        <ul class="list-group">
          <li class="list-group-item"><a href="mailto:alex@hackerpile.com?subject=Hacker Pile Inquiry&body=Hi, my name's _____ and I thought HackerPile was pretty cool.">Email
              us
            </a></li>
          <li class="list-group-item"><a href="https://linkedin.com/in/alex-a-pereira"
              target="_blank">Find our lead dev on LinkedIn</a></li>
        </ul>


        <hr>
        <h4>About your account</h4>
        <p>As of right now, the most practical way to handle account
          maintenence is on a case-by-case basis. Please send an email to <a
            href="mailto:info@hackerpile.com?subject=User Account Inquiry&body=Hi, I'd like to modify my HackerPile.com account.">
          </a>
          to get in touch with someone from the team who can help you out.
        </p>
        <p>Thanks for your patience as we develop our business and service.</p>

      </div>
    </div>
  </div>
</div>