<div class="container-fluid mt-3 mb-3 border-top">
  <div class="row justify-content-center">
    <div class="col-10">

      <div class="row mt-3">
        <div class="col-12">
          <h2 class="text-center">We believe in serverless.</h2>
          <hr>
        </div>
      </div>


      <div class="row mt-3 mb-3">
        <div class="col-12">

          <ul class="progressbar">
            <li class="active">Angular JS</li>
            <li>Amazon Cognito</li>
            <li>AWS API Gateway & Lambda</li>
            <li>AWS DynamoDB</li>
          </ul>

          <div class="container mt-3">
            <h4 class="text-center">Angular - the best tool for the job</h4>
            <p>There are a ton of different Javascript flavors out there, all
              of which have pros and cons. At HackerPile, we care about speed
              and efficiency, and Angular's features such as intuitive
              code-splitting and productive CLI made it a no brainer for this
              project. </p>
          </div>
          <hr>
        </div>
      </div>


      <div class="row mt-3 mb-3">
        <div class="col-12">

          <ul class="progressbar">
            <li class="active">Angular JS</li>
            <li class="active">Amazon Cognito</li>
            <li>AWS API Gateway & Lambda</li>
            <li>AWS DynamoDB</li>
          </ul>

          <div class="container mt-3">
            <h4 class="text-center">Streamlined, reliable user authentication</h4>
            <p>Deciding to use Amazon Cognito was the biggest no brainer for
              us. Cognito offers rebust features, and thanks to the AWS Amplify
              project, implimenting user authentication was a breeze </p>
          </div>
          <hr>
        </div>
      </div>


      <div class="row mt-3 mb-3">
        <div class="col-12">

          <ul class="progressbar">
            <li class="active">Angular JS</li>
            <li class="active">Amazon Cognito</li>
            <li class="active">AWS API Gateway & Lambda</li>
            <li>AWS DynamoDB</li>
          </ul>

          <div class="container mt-3">
            <h4 class="text-center">Why serverless?</h4>
            <p>At HackerPile, we're convinced that serverless architecture is
              the future of all web apps. That may be a stretch, but a
              serverless approach definitely fit our business plan. Building
              HackerPile on a serverless backend eliminated barrier to entry to
              high-speed scalability. Using AWS Lambda with the API gateway
              allows for fast, seemless, and reliable data flow. </p>
          </div>
          <hr>
        </div>
      </div>


      <div class="row mt-3 mb-3">
        <div class="col-12">

          <ul class="progressbar">
            <li class="active">Angular JS</li>
            <li class="active">Amazon Cognito</li>
            <li class="active">AWS API Gateway & Lambda</li>
            <li class="active">AWS DynamoDB</li>
          </ul>

          <div class="container mt-3">
            <h4 class="text-center">Your data: done the right way </h4>
            <p>Your data is important, so we wanted to make sure it was secure.
              Letting Amazon DynamoDB take care of the boring stuff lets us
              spend more time improving the stuff that matters - your
              experience at HackerPile. </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>