<div class="position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center bg-white">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <hr>
    <h2 class="display-4 font-weight-normal">Move faster</h2>
    <p class="lead font-weight-normal">Your time is important, and it's a
      hassle trying to move code between computers.
      We make it easy to save your code to the cloud, where you can access it
      from anywhere in the world.
    </p>
    <a class="btn btn-outline-info"
      routerLink="/signup">Sign up</a>
    <hr>
  </div>

</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 pb-3 pb-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Simple to use</h2>
      <p class="lead">Hacker Pile was designed with a "usability-first"
        mindset.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto py-auto"
      style="width: 100%; border-radius: 0 0 0 0;">
      <img class="img-fluid my-auto"
        [src]="demoImgPath"></div>
  </div>

  <div class="
        bg-dark
        mr-md-3
        pt-3
        px-3
        pt-md-5
        px-md-5
        pb-3
        pb-md-5
        text-center
        text-white
        overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Absolutely free</h2>
      <p class="lead">Free really means free - and we won't sell your data.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto"
      style="width: 100%; border-radius: 0 0 0 0;">
      <img class="img-fluid my-auto"
        [src]="moneyImgPath">
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 pb-3 pb-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Release: (v0.0)</h2>
      <div class="bg-light shadow-sm mx-auto pt-3 pb-3 px-5"
        style="width: 100%; min-height: 120px;border-radius: 0 0 0 0;">
        <div class="container mb-1">
          <button routerLink="/stack"
            class="btn btn-outline-info btn-block">Learn
            about the stack</button>
        </div>
        <div class="container">
          <a href="https://github.com/alex-a-pereira/hacker-pile"
            target="_blank"
            class="btn btn-outline-info btn-block">Check out the repo</a>
        </div>


      </div>
    </div>
  </div>

  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 pb-3 pb-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Who's behind HackerPile?</h2>
      <div class="bg-light shadow-sm mx-auto pt-3 pb-3 px-5"
        style="width: 100%; min-height: 120px;border-radius: 0 0 0 0;">
        <div class="container mb-1">
          <button routerLink="/contact"
            class="btn btn-outline-info btn-block">Contact
            our
            lead developer</button>
        </div>
        <div class="container">
          <a href="https://linkedin.com/in/alex-a-pereira"
            target="_blank"
            class="btn btn-outline-info btn-block">Connect on LinkedIn</a>
        </div>


      </div>
    </div>
  </div>
</div>