<div class="row justify-conrent-center">
  <div class="col">
    <div class="container-fluid">

      <h1>Move your code quickly, easily, and absolutely free.</h1>
      <p>It's not easy to get code from one computer to another. We're here to try and fix that.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a> &nbsp; <a class="btn btn-primary btn-lg"
          href="#" role="button">Learn more</a></p>

    </div>
  </div>

</div>
<div class="row">
  <div class="col">
    <img src="../../../assets/img/landing_header.jpg" class="img-fluid" alt="Responsive image">
  </div>
</div>